table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid gray;
                font-size: 12px;
                margin-top: 10px;
            }

            th {
                background-color: #a5a5a5;
            }

            th, td {
                padding: 10px;
                text-align: left;
            }

            h5 {
                margin-top: 0;
                margin-bottom: 0;
            }